@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
    margin: auto;
    background: #F9F9F9;
}
/*Header*/

header {
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFFFFF;
}

.menu_logo {
    display: flex;
    align-items: center;
    width: 146px;
    height: 24px;
    gap: 16px;
    margin-left: 16px;
}

header input {
    width: 404px;
    height: 40px;
    border: 1px solid #CCCCCC;
    background:url("/assets/images/search.png") no-repeat right -1px center;
    padding: 10px;
}

input:focus {
    outline: none;
}

.right-header {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-right: 16px;
}

.avatar {
    width: 34px;
    height: 34px;
    border-radius: 50%;
}

header img {
    cursor: pointer;
}
/*Header*/

/*Main*/

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 28px 0 0 0;
}

main {
    width: 952px;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

main p {
    font-size: 14px;
    color: #515151;
}

h1 {
    font-size: 20px;
    font-weight: 600;
    margin: 16px 0;
}

main span {
    display: block;
    font-weight: bold;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 16px 0;
    width: 902px;
}

.actions div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    height: 40px;
}

.actions input {
    width: 152px;
    height: 40px;
    background: #CC0000;
    color: #FFFFFF;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

.description {
    width: 510px;
}

main h2 {
    font-size: 14px;
    margin: 0 0 16px 0;
}
/*Main*/

/*Aside*/
aside {
    font-size: 14px;
}

aside ul {
    padding: 0;
    list-style: none;
}

aside li {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 0 0 10px 0;
}

aside .text {
    width: 196px;
    padding: 0 0 0 16px;
}

aside h2 {
    font-size: 14px;
    font-weight: 600;
    margin: 0 0 8px 0;
}

aside .channel_name {
    margin: 0 0 8px 0;
}

aside p {
    font-size: 12px;
    color: #515151;
}

/*Aside*/

/*Footer*/
footer {
}
/*Footer*/
