@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
    margin: auto;
}

.container {
    display: flex;
    background: #000
}
/*Header*/

header {
    height: 56px;
    background-color: aquamarine;
}

/*Header*/

/*Main*/
main {
    background-color: lightgray;    
    flex-grow: 1;
}
/*Main*/

/*Aside*/
aside {
    background-color: lightblue;    
    flex-grow: 1;
}
/*Aside*/

/*Footer*/
footer {
}
/*Footer*/
