@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
    margin: auto;
}
/*Header*/
header {
    background: ##FFFFFF;
    padding: 20px;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header nav div {
    display: flex;
    flex-direction: row;
}

header nav .left_menu  {
    width: 146px;
    height: 24px;
}

header nav .left_menu img {
    margin: 0 0 10px 0;
}

header .search_field {
    width: 404px;
    height: 40px;
    border: 1px solid #CCCCCC;
}
/*Header*/

/*Main*/

.container {
    display: flex;
    flex-direction: row;
    background: #F9F9F9;
}

main {
}

.video_navigation .subscribe {
    width: 159px;
    height: 40px;
    background: #CC0000;
}
/*Main*/

/*Aside*/
aside {
}
/*Aside*/

/*Footer*/
footer {
    background: #000;
}
/*Footer*/
